%html
  %head
    %script{type: "text/javascript", src: "/jquery.js"}
    %script{type: "text/javascript", src: "/application.js"}
  %body
    %table
      = haml :form
      %br
      %b= series[:title]
      %b= series[:prefix]
      %br
      - series.each do |episode, links|
        - next if episode == :title || episode == :prefix
        %tr
          %td= episode
          -links.each do |resolution, link|
            %td
              %a{ href: link}= resolution
              %a.down_link{ href: '#', data: { episode: episode, prefix: series[:prefix], link: link }} ↓
